@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.main{
    background-image: url(../fts/Teste\ copo\ pequeno.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: left;
}

h1{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    border-radius: 20px;
    background-color: #0476D9;
    padding: 0;
}

.bg-dark{
    background:transparent !important
}

nav{
    display: flex;
    justify-content: space-between !important
}

.nav-link{
    font-size: 20px;
    font-weight: 500;
    padding-left: 5px;
    transition: 0.3s;
}

.nav-link:hover{
    background-color: rgba(233, 233, 233, 0.362);
    border-radius: 10px;
}